html,body {
    padding: 0;
    margin: 0;
     font-family:  Roboto
    
}

 * {
   box-sizing: border-box;
    
}
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: 80px;
    padding: 10px 20px;
    background-color: gray;
    width: 100%;
}

.header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.bottom-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

   /* .bottom-btn button {
        padding: 13.7557px 12.1374px;
        background-color: #000000;
        border: 1.61832px solid #000000;
        box-sizing: border-box;
        color: white;
        margin-top: 30px;
    }*/

footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index:2;
    border-top:3px solid black;
}

    footer img {
        margin-left: 0.5rem;
    }

    footer a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

a {
    color: inherit;
    text-decoration: none;
}

.title a {
    color: #5B76FF;
    text-decoration: none;
}

    .title a:hover,
    .title a:focus,
    .title a:active {
        text-decoration: underline;
    }

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    max-width: 800px;
    min-width: 100%;
    flex-direction: column;
    min-height: 300px;
    text-align: center;
    margin: 36px 0px;
}

.card-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}




.card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}



.logo {
    height: 1em;
}

.full-w{
    width:100%;
    padding:30px;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

hr {
    color: black;
    border: 3px solid black;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    width: 100%;
}

.upload-container h4{
    margin: 0px 5px;
}

.upload-container .row.center{
    align-items:flex-end;
}

.full-center {
    align-items: center !important;
    justify-content: center !important;
}

.full-center svg{
    margin:5px;
}

.full-center a {
        text-decoration:underline;
        margin-right:3px;
}

form span.small-err{
    font-size:14px;
}

.row .col input{
    width:100%;
    background-color:transparent;
    padding:0px;
}

.col span{
    color:dimgray
}

.col .red{
    color:red;
}

input, textarea {
    font-family:monospace;
    font-weight: normal;
    font-size: 14px;
    line-height: 12px;
}

.data-form{
    text-align:center;
}

.main-screen {
    width: 100%;
    display: flex;
    flex-direction:row;
    flex:1;
}

.main-screen .first{
    width:60%;
    border-right:3px solid black;
    padding:10% 5% 1% 8%;
}
.main-screen .sec {
        width: 40%;
        padding: 5% 3% 5% 5%;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
}

.first-mid-sent{
    margin-top:50px;
}

.blue {
    color: #5B76FF
}

.mr0{
    margin-right:0px;
}

.ml0 {
    margin-left: 0px;
}
.mt0 {
    margin-top: 0px;
}

.mb0{
    margin-bottom:0px;
}
.index-screen .blue-btn{

}
.btn-blue {
    display: flex;
    flex-direction: row;
    border: 1px solid #5B76FF;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    max-width: 220px;
    height: 37px;
    margin-top: 50px;
    background: #5B76FF;
    border-radius: 8px;
    margin-left: 30px;
    color: white;
}

.mt-40{
    margin-top:40px;
}

.mt-10 {
    margin-top:10px;
}


.main-screen2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    
}

.main-screen2 .first{
    width:55%;
    /* border-right:3px solid black; */
    padding:2% 5% 1% 8%;
}
.main-screen2 .sec {
        width: 45%;
        padding:2% 10% 2% 8%;
        /* display:flex;
        flex-direction:column;
        justify-content:space-between; */
}

.marAuto{
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
}

.foot-logo{
    position:relative;
    left:20px;
}

.dsch-logo{
    margin-right:5px;
}

.dps-logo{
    position:relative;
    left: 8px;
}

.min-logo{
    position: relative;
    bottom: 20px;
}

.rocket{
    position: relative;
    left:35px;
    top:12px;
}

.cross{
    position: relative;
    left:35px;
    top:12px;
}


.css-m5vj9m-MuiStepper-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
}

.css-1bw0nnu-MuiStep-root {
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
}


.css-j5w0w9-MuiStepConnector-root {
    width:30px !important
}

.MuiStepConnector-root.MuiStepConnector-horizontal {
    width: 30px !important;
    flex:none;
}


.css-j5w0w9-MuiStepConnector-root :nth-child(2) {
    width: 100% !important
}

.stepperHr{
    width:80px;
    border-top:3px solid black;
}

.stepper-outer{
    width:100%;
    justify-content:flex-start;
    align-items:center !important;
    display:flex;
    flex-direction:row;
    padding:20px 0px 5px 0px;
}

.stepper-outer svg {
    min-width: 30px;
}

.stepperHr.long {
    width: 100%;
    border-top: 3px solid black;
}

.slabel {
    margin: 0px 5px 0px 5px;
    background-color: white;
    box-sizing: border-box;
    width: auto;
    font-size: 0.55em;
}

.big-label{
    min-width:68px;
}      

.black-l{
    color:black;
}

.blue-l {
    color: #5B76FF;
}

.blue-b {
    border-top: 3px solid #5B76FF !important;
}

.black-b {
    border-top:3px solid black !important;
}
