.screen-title {
    font-size: 22px;
    line-height: 28px;
    text-align:center;
    width:100%;
}

.login-detail {
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    margin:20px 0px;
}

.login-form{
    display:flex;
    flex-direction:column;
    max-width:550px;
    align-items:flex-start;
    justify-content:flex-start;
}

    .login-form input {
        margin: 0px 0px 20px 0px;
        padding: 10px;
        width: 100%;
        border: 1px solid #000000;
        border-radius: 4px;
    }

input.red-border,textarea.red-border{
    border:1px solid red !important;
}

.login-loader {
    width:100%;
    display:flex;
    justify-content:center;
    position:absolute;
    top:60px;

}

.small-comment{
    font-size:12px;
    text-align:center
}

.text-center{
    text-align:center;
}

.full-w.pd0{
    padding:0px;
}

.mar-auto{
    margin:auto auto;
}

.upload-container {
    min-height: 70vh;
    margin: auto auto;
}

    .upload-container.screen {
        justify-content: center;
        padding-bottom: 100px;
    }

.s-16 {
    font-size: 16px;
    color:black
}

.s-12 {
    font-size: 12px;
    color: black
}

.s-22 {
    font-size: 22px;
    line-height: 26px;
}

.bold {
    font-style: normal;
    font-weight: 600;
}

.normal {
    font-weight: normal;
}

.mar-btm-20{
    margin-bottom:20px;
}

.login-screen,.input-screen {
    width: 100%;
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

    .login-screen .grids{
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items:flex-start
    }

.login-screen .first{
    width:50%;
    padding-right:10%;
}
.login-screen .sec {
        width: 50%;
}
.login-screen .first .h4Top{
    margin-top:0px;
}

    .zuruk {
        padding: 10px 16px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 8px;
        margin:10px 0px 10px 10px;
        color:black;
    }

.weiter {
    padding: 10px 16px;
    width: 70px;
   background: #5B76FF;
    border-radius: 8px;
    margin: 10px 0px 10px 10px;
    border: 1px solid #5B76FF;
    color:white;
}

.mT80{
    margin-top:80px;
}

.m-zuruk {
    margin: 10px 0px 10px 30px;
    
}

.success .zuruk {
        padding: 8px 16px !important;
}
