.popup-outer{
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,.7)!important;
    position: fixed;
    z-index: 9999999999999999999;
    left: 0px;
    top: 0px;
    display:flex;
    flex-direction:row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.popup{
   display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    background-color:white;
    min-height:450px;
    min-width:600px;
    padding:25px;
    position:relative;
}

.top-right{
    position:absolute;
    top:25px;
    right:25px;
}

@media(max-width:700px)
{
    .popup{
   min-height:300px;
    min-width:300px;
   
}

}