.upload-grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    max-width: 800px;
    min-width: 100%;
    flex-direction: column;
    min-height: 40vh;
    text-align: center;
}

    .upload-grid .cards {
        width: 100%;
        margin: 30px;
        background: #FFFFFF;
        border: 2px solid #000000;
        box-sizing: border-box;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        flex: 1;
    }

    .upload-grid .c1{
        margin-left:60px;
    }

    .upload-grid .c2 {
        margin-right: 60px;
    }

.data-form{
    width:100%
} 

.bottom-btn .white{

}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 25px;
    justify-content: flex-start;
    text-align: left;
    margin-left: 0px;
}

    .row input {
        max-width: 50%;
        width: 50%;
        min-width:50%;
        padding: 5px;
        border: 1px solid black;
        border-radius: 4px;
    }

        .row input.file {
            width: auto;
            max-width: 100%;
            border: 0px solid;
            border-radius:0px;
            margin-bottom:30px;
        }

        .row input.url {
            margin-bottom: 30px;
        }

    .row select, .row textarea {
        max-width: 50%;
        width: 50%;
        min-width: 50%;
        padding: 5px;
        border: 1px solid black;
        border-radius: 4px;
    }

    .row .field {
        min-width: 190px;
        line-height: 15px;
        font-weight: bold;
    }

    .row.center {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 25px;
        justify-content: center;
        text-align: center;
    }

.white-btn {
    padding: 10px 20px;
    margin: 10px;
}

    .black-btn {
        padding: 10px 20px;
        background-color:black;
        color:white;
        margin:10px;
    }

    button{
        cursor:pointer
    }



@media(max-width:700px) {
    .upload-grid .grid-card{
        flex-direction:column;
        align-items:center;
   }

    .row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 25px;
        margin-left: 0px;
        justify-content: flex-start;
        text-align: left;
    }
    .row select, .row textarea, .row input{
        margin-top:10px;
    }
}
